@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme {
  --color-success: #16a34a;
  --color-success-soft: #dcfce7;
  --color-success-strong: #15803d;
  --color-success-medium: #22c55e;
  --color-success-subtle: #86efac;

  --color-fg-success-strong: #14532d;

  --color-info: #2563eb;
  --color-info-soft: #dbeafe;
  --color-info-strong: #1d4ed8;
  --color-info-medium: #3b82f6;
  --color-info-subtle: #93c5fd;

  --color-fg-info-strong: #172554;

  --color-warning: #ea580c;
  --color-warning-soft: #ffedd5;
  --color-warning-strong: #c2410c;
  --color-warning-medium: #f97316;
  --color-warning-subtle: #fdba74;

  --color-fg-warning-strong: #7c2d12;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.pricing-card {
  width: 320px;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border: 1px solid #eee;
  font-family: sans-serif;
}

.pricing-header {
  background: #0d47a1;
  color: white;
  text-align: center;
  padding: 18px;
}

.pricing-header h2 {
  margin: 0;
  font-size: 30px;
}

.pricing-body {
  padding: 30px 24px;
  text-align: center;
}

.pricing-body h1 {
  color: #2563eb;
  font-size: 48px;
  margin: 0;
}

.pricing-body span {
  color: #555;
  font-size: 18px;
}

.feature-list {
  margin-top: 35px;
}

.feature-item {
  text-align: left;
  padding: 14px 0;
  border-bottom: 1px solid #ececec;
  font-size: 18px;
}

.tax-text {
  margin: 35px 0 20px;
  color: #777;
  font-size: 15px;
}

.pricing-body button {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.pricing-body button:hover {
  background: #1d4ed8;
}